*{margin: 0;padding: 0;outline: o;}
.container-demo{

    width: 1000px;
    background: #33552f;
}
html{
    scroll-behavior: smooth;
}
body{
   /* font-family: 'Handlee', cursive;*/
    font-family: 'Montserrat', sans-serif;
    

}
/*header start*/
h1,h2{

    font-family: 'Roboto', sans-serif;
}
header{
    background-image: url("images/pexels-photo-301920.webp");
    background-position: center;
    background-attachment: no-repeat;
    background-size: cover;
}
.navbar{
    padding:1% 10%;
    background-color: rgba(0,0,0,0.3);
}
.navbar-icon{
    color: white;
}
.navbar-brand img{
    width: 70%;
    height: auto;
    border: 2px solid wheat;
    border-radius: 10px;
    padding: 0px 5px;

    
}
.navlink{
    color:bisque;
    margin: 10px;
    border-radius: 5px;
    transform: .4s;
}
.nav-link:hover{
    background: #2980b9;
    color:white;
     transform: scale(1.1);
}
.banner-container{
    height: 100vh;
}
.banner-container h1{
    font-size:3.5rem;
    background-color: rgba(7,101,189,0.8);
    padding: 10px 20px;
    font-family: 'Handlee', cursive;
    border-radius: 5px;
}
/*header end*/

/*features start*/

#features{

    padding: 5% 10%;
    background: #e8ded2;
    font-size: larger;

}
.features-col{
border:1px solid #7802ff;
border-radius: 5px;
padding :15px;
margin:20px 0;
transition:.4s;
}
.features-col:hover{
    transform: scale(1.1);
    box-shadow:2px 6px 5px #351b2e;
}
.icon-style{
    background: #5d0abb;
    color:white;
    padding:15px;
    margin:5px 0;
}
/*features end*/

/*contact start*/
#Sing-up{
    padding:2% 10%;
    background: #5eaaa8;
}
.form-group lable{
    margin-bottom:0;
    font-weight: bold;
}
footer{
    padding:2% 30%;
    background: #056676;
}
